.title-main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.intro-text {
    display: flex;
    align-items: center;
    justify-content: center;
   }

.intro-picture {     
    height: 800px;
    padding-left: 10%;
    padding-right: 10%;
}

.center-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-structure {
    display: flex;
    flex-direction: column;
    
}

.start-game-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    }

.invisibility {
    display: none;
}



/* will center board but makes it "not" disappear when losing
.playboard {
    display: flex;
    margin: 0 auto;
}

*/
